.App {
  /* text-align: center; */
  /* min-height: 100vh; */
  height: 100vh;
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  /* grid-gap: 1em; */
  grid-auto-flow: column
}
.editor {
  /* min-width: 35em; */
}
.controls {
  text-align:center;
}
.controls svg {
  padding-left: 5px;
  padding-right: 5px;
}
.viewer {
  position: static;
}
div.messages {
  position: fixed;
  top: 0;
  width: 100%;
  background: #282c34;
}
div.messages pre {
  margin: 0;
}


#editor {

}
